* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 100%;
    background: #F1F1F1;
}

*, html {
    --primaryGradient: linear-gradient(93.12deg, #00264D 0.52%, #0052A2 100%);
    --secondaryGradient: linear-gradient(268.91deg, #00264D -2.14%, #0052A2 99.69%);
    --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
    --primary: #00498D;
}

/*--------Home---------*/
.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/VIT-Bhopal-Academic-Block.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: white;
    text-decoration: none;
    /*font-size: 13px;*/
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text {
    width: 90%;
    color: white;
    position: absolute;
    margin-top: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text h1 {
    font-size: 50px;
}

.text p {
    font-weight: 300;
    font-size: 21px;
}

.visit-btn {
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.visit-btn:hover {
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
    opacity: 75%;
}

nav .fa {
    display: none;
}

/*--------about us---------*/

.about-us {
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.about-col {
    flex-basis: 48%;
    padding: 30px 2px;
}

.about-col img {
    width: 100%;
}

.about-col p {
    padding: 15px 0 25px;
    font-weight: 300;
}

.exlpore-btn {
    border: 1px solid #f44336;
    background: transparent;
    color: #f44336;
}

.exlpore-btn:hover {
    color: #fff;
}

/*--------courses---------*/

.course {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1 {
    font-size: 36px;
    font-weight: 600;
    text-align: center;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.course-col {
    color: white;
    flex-basis: 31%;
    background: #272f54;
    border-radius: 10px;
    margin-right: 5px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5;
}

h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.course-col p {
    font-size: 13px;
}

.course-col:hover {
    box-shadow: 0 0 20px 0px rgba(11, 25, 82, 0.7);
}

/*--------Campus---------*/
.campus {
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.campus-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.campus-col img {
    width: 100%;
    display: block;
}

.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover {
    background: rgba(11, 25, 82, 0.6);
}

.layer h3 {
    width: 100%;
    font-weight: 500;
    color: white;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3 {
    bottom: 49%;
    opacity: 1;
}

/*--------Contact section---------*/

.contact {
    width: 80%;
    margin: 50px auto;
}

.contact h1 {
    margin-bottom: 40px;
}

.contact-right h3 {
    text-align: left;
    color: #272f54;
    font-weight: 600;
    margin-bottom: 30px;
}

.contact-left h3 {
    text-align: left;
    color: white;
    font-weight: 600;
    margin-bottom: 30px;
}


.contact-box {
    display: flex;
}

.contact-left {
    flex-basis: 40%;
    padding: 40px;
    background: #272f54;
    color: white;
    /*----extra------*/
    border: 1px solid #272f54;
    border-radius: 30px;
}

.contact-right {
    flex-basis: 60%;
    padding: 40px 60px;
    /*----extra------*/
    border: 1px solid #272f54;
    border-radius: 30px;
}

.input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row .input-group {
    flex-basis: 45%;
}

input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #272f54;
    outline: none;
    padding-bottom: 5px;
}

textarea {
    width: 100%;
    border: 1px solid #272f54;
    border-bottom: 1px solid #272f54;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}

label {
    margin-bottom: 6px;
    display: block;
    color: #272f54;
}

.submit {
    background: #272f54;
    width: 100%;
    border: none;
    outline: none;
    color: white;
    height: 35px;
    border-radius: 10px;
    margin-top: 20px;
}

.submit:hover{
    box-shadow: 0px 2px 5px 0px rgba(11, 25, 82, 0.6);
    cursor: pointer;
}

tr td:first-child {
    padding-right: 30px;
}

tr td {
    padding-top: 20px;
    font-weight: 300;
}

/*--------mobile section---------*/

@media(max-width: 600px) {

    /*--------home page---------*/
    .text h1 {
        font-size: 20px;
    }

    .text h2 {
        font-size: 12px;
    }

    .text p {
        font-size: 12px;
    }

    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: absolute;
        background: #272f54;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .fa {
        display: block;
        color: white;
        margin: 10px;
        font-size: 20px;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 25px;
    }

    /*--------courses---------*/
    .row {
        flex-direction: column;
    }

    /*--------Contact section---------*/
    .contact-box {
        flex-direction: column;
    }

    .about-col {
        flex-direction: column;
    }
}

/*------------------CHATBOT------------------*/
.chatbox {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

/* CONTENT IS CLOSE */
.chatbox__support {
    display: flex;
    flex-direction: column;
    background: #eee;
    width: 300px;
    height: 350px;
    z-index: -123456;
    opacity: 0;
    transition: all .5s ease-in-out;
}

/* CONTENT ISOPEN */
.chatbox--active {
    transform: translateY(-40px);
    z-index: 123456;
    opacity: 1;

}

/* BUTTON */
.chatbox__button {
    text-align: right;
}

.send__button {
    padding: 6px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.drop_down_language{
     
    align-items: flex-end;
}  

/* HEADER */
.chatbox__header {
    position: sticky;
    top: 0;
    background: orange;
}

/* MESSAGES */
.chatbox__messages {
    margin-top: auto;
    display: flex;
    overflow-y: scroll;
    flex-direction: column-reverse;
}

.messages__item {
    background: orange;
    max-width: 60.6%;
    width: fit-content;
}

.messages__item--operator {
    margin-left: auto;
}

.messages__item--visitor {
    margin-right: auto;
}

/* FOOTER */
.chatbox__footer {
    position: sticky;
    bottom: 0;
}

.chatbox__support {
    background: #f9f9f9;
    height: 450px;
    width: 350px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px 20px 20px 20px;
}

/* HEADER */
.chatbox__header {
    background: var(--primaryGradient);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: var(--primaryBoxShadow);
}

.chatbox__image--header {
    margin-right: 10px;
}

.chatbox__heading--header {
    font-size: 1.2rem;
    color: white;
}

.chatbox__description--header {
    font-size: .9rem;
    color: white;
}

/* Messages */
.chatbox__messages {
    padding: 0 20px;
}

.messages__item {
    margin-top: 10px;
    background: #E0E0E0;
    padding: 8px 12px;
    max-width: 70%;
}

.messages__item--visitor,
.messages__item--typing {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.messages__item--operator {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: var(--primary);
    color: white;
}

/* FOOTER */
.chatbox__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    background: var(--secondaryGradient);
    box-shadow: var(--secondaryBoxShadow);
    /*border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;*/
    border-radius: 0 0 10px 10px;
    margin-top: 20px;
}

.chatbox__footer input {
    width: 80%;
    border: none;
    padding: 10px 10px;
    border-radius: 15px;
    text-align: left;
}

.chatbox__send--footer {
    color: white;
    font-size: 13px;
}

.chatbox__button button,
.chatbox__button button:focus,
.chatbox__button button:visited {
    padding: 10px;
    background: white;
    border: none;
    outline: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}